@model IEnumerable<uStoreMVC.Data.EF.Trip>

@foreach (var item in Model)
{
    <div>
        <a href="@Url.Action("Details", "Details", new { id = item.TripId })">
            <img class="img-responsive" src="~/Content/Images/Trips/@item.TipImage" alt="Imagesource" />
        </a>
        <p>
            @Html.DisplayFor(modelItem => item.TripName)
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.TripDescription)
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.Price)
        </p>
        <p>
            <span class="btn btn-default"> @Html.ActionLink("Details", "Details",new {id = item.TripId}) </span>
            @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Customer Service"))
            {
                <span class="btn btn-default">
                    @Html.ActionLink("Edit", "Edit", new { id = item.TripId })
                </span>
            }
        </p>
    </div>
}

